<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="p-4 md:p-5">
        <h1 class="pb-4 font-bold text-xl"><a [routerLink]="['/dashboard/messengers']"
                routerLinkActive="router-link-active" class="cursor-pointer underline">Mensajería</a> - Consultar</h1>
        
                <!-- Para activar el uso de la signal -->
        <span class="hidden">{{isLoading()}}</span>

        <form class="space-y-4" action="#">
            <div class="flex items-center">
                <span class="mx-2 text-gray-500">Desde</span>
                <div class="relative">
                    <input name="dateIni" type="date" [(ngModel)]="dateFrom" [max]="maxDate | date:'yyyy-MM-dd'"
                        class="mt-1 w-36 pt-0 peer block min-h-[auto] rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                        placeholder="Select date start">
                </div>
                <span class="mx-2 text-gray-500">hasta</span>
                <div class="relative pr-4">

                    <input name="dateTo" type="date" [min]="dateFrom" [max]="maxDate | date:'yyyy-MM-dd'"
                        [(ngModel)]="dateTo"
                        class="mt-1 w-36 pt-0 peer block min-h-[auto] rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                        placeholder="Select date end">
                </div>

                <span class="mx-2 text-gray-500">Mensajero:</span>
                <select [(ngModel)]="messengerId" [ngModelOptions]="{standalone: true}"
                    class="mx-2  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    @for (messenger of messengers() ; track messenger.id) {
                    <option [value]="messenger.id">
                        {{messenger.name}}</option>
                    }
                </select>

                <!-- 

                <select [(ngModel)]="status" [ngModelOptions]="{standalone: true}"
                    class="mx-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    @for (operationType of documentStatus ; track operationType.code) {
                    <option [value]="operationType.code">
                        {{operationType.description}}</option>
                    }
                </select> -->


                <button data-tooltip-target="tooltip-bottom" data-tooltip-placement="bottom" type="button"
                    (click)="listEventDownload()"
                    class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    <svg class="w-6 h-6 text-white-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4" />
                    </svg>

                </button>

                <div id="tooltip-bottom" role="tooltip"
                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Descargar listado de eventos
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>


                <!-- <button data-tooltip-target="tooltip-bottom2" data-tooltip-placement="bottom" type="button"
                    (click)="listEventDownload()"
                    class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    <svg class="w-6 h-6 text-white-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4" />
                    </svg>

                </button>

                <div id="tooltip-bottom2" role="tooltip"
                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Descargar listado detallado
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div> -->

            </div>

            <label for="default-search"
                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Buscar</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="search" id="default-search" [(ngModel)]="term" name="default-search"
                    class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Buscar Concepto, Identificación Mensajero, Factura, Identificación Cliente..." required>
                <button type="submit" (click)="loadData()"
                    class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Buscar</button>


            </div>


        </form>
        <div class="relative">

            <div *blockUI="'load-data'"
                class="mt-4 min-h-[410px] max-h-52  overflow-y-auto pt-2 relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">

                        <tr>

                            <th scope="col" class="px-6 py-2">
                                Mensajero
                            </th>
                            <th scope="col" class="px-6 py-2">
                                Concepto
                            </th>
                            <th scope="col" class="px-6 py-2">
                                Fecha
                            </th>
                            <th scope="col" class="px-6 py-2">
                                Hora Salida
                            </th>
                            <th scope="col" class="px-6 py-2">
                                Hora Regreso
                            </th>
                            <th scope="col" class="px-6 py-2">
                                Tiempo
                            </th>
                            <th scope="col" class="px-6 py-2">

                            </th>
                        </tr>
                    </thead>

                    <tbody class="relative">
                        @for (event of events(); track event.id) {
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-1">
                                {{event.messenger?.name}}
                            </td>
                            <td class="px-6 py-1">
                                {{event.concept}}
                            </td>
                            <td class="px-6 py-1 font-extrabold">
                                {{event.startDate | date: 'yyyy-MM-dd':'+0:00':'es-CO'}}
                            </td>
                            <td class="px-6 py-2">
                                {{event.startDate | date: 'hh:mm:ss'}}
                            </td>
                            <td class="px-6 py-2">
                                {{event.endDate | date: 'hh:mm:ss'}}
                            </td>
                            <td class="px-6 py-2">
                                @if (event.endDate) {

                               
                                    @if (event.dateDiffhours! > 0) {
                                    {{event.dateDiffhours}}&nbsp;horas&nbsp;
                                    }
                                    {{event.dateDiffminutes}}&nbsp; minutos
                                

                                }
                            </td>

                            <td class="px-6 py-2">

                                @if (event.invoicesEvent?.length!>0) {
             
                                    <a (click)="viewInvoices(event.invoicesEvent!)"
                    
                                        class="cursor-pointer inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
                        
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-search" width="24"
                                            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M11 19h-6a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v4.5" />
                                            <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                            <path d="M20.2 20.2l1.8 1.8" />
                                            <path d="M3 7l9 6l9 -6" />
                                        </svg>
                        
                                        <span class="pl-2">
                                            Ver facturas
                        
                                        </span>
                                    </a>
                                }

                                <!-- @if (document.responseEmit ) {

                                <span (click)="printDocument(document.responseEmit.cufe)"
                                    class="mr-2 p-1 cursor-pointer rounded text-white font-bold bg-green-500">
                                    PDF
                                </span>
                                }
                                @if (!document.responseEmit ) {

                                <span (click)="documentEmit(document.id)"
                                    class="mr-2 p-1 cursor-pointer rounded text-white font-bold bg-gray-500">
                                    Emitir

                                </span>
                                }
                                @if (document.responseEmit && document.responseEmit.statusCode !== '201' ) {

                                    <span (click)="documentEmit(document.id)"
                                    class="mr-2 p-1 cursor-pointer rounded text-white font-bold bg-gray-500">
                                    Emitir

                                </span>
                                <span (click)="viewError(document)"
                                    class="mr-2 p-1 cursor-pointer rounded text-white font-bold bg-red-500">
                                    Ver Error

                                </span>
                                } -->
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div
                class="flex items-center justify-between p-2 md:p-2 border-t border-gray-200 rounded-b dark:border-gray-600">

                <!-- Help text -->
                <span class="text-sm text-gray-700 dark:text-gray-400">
                    Página <span class="font-semibold text-gray-900 dark:text-white">{{searchParam.pagination!.pageIndex
                        +
                        1}}</span> de <span class="font-semibold text-gray-900 dark:text-white">
                        {{searchParam.pagination?.pages}}</span> de <span
                        class="font-semibold text-gray-900 dark:text-white">
                        {{searchParam.pagination?.length}}</span> Registros
                </span>
                <!-- Buttons -->
                <div class="inline-flex mt-0 xs:mt-0">
                    <button (click)="previousPage()" [disabled]="searchParam.pagination?.pageIndex === 0"
                        class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        [ngStyle]="{'opacity': searchParam.pagination?.pageIndex === 0 ? 0.5 : 1}">

                        Anterior
                    </button>
                    <button (click)="nextPage()"
                        [disabled]="searchParam.pagination!.pageIndex + 1 === searchParam.pagination?.pages"
                        class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        [ngStyle]="{'opacity': searchParam.pagination!.pageIndex + 1 === searchParam.pagination?.pages ? 0.5 : 1}">
                        Siguiente
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>