<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <h1 class="font-bold text-xl dark:text-white">Geolocalización</h1> 
    @if (pedido) {
      <div class="flex items-center">
        <span class="text-gray-500">Registro de&nbsp;</span>
        <span [routerLink]="['/dashboard/pedidos-query']" title="Ir a consulta de pedidos" class="text-gray-500 underline cursor-pointer">Pedidos</span>
      </div>
      <hr>
        <div class="pt-2 basis-10/12">
            <p class="mb-0 text-gray-500 dark:text-gray-400">
              <strong class="font-semibold text-gray-900 dark:text-white">
                No. Orden:
              </strong>
              {{ pedido.orden }}
            </p>
            <p class="mb-0 text-gray-500 dark:text-gray-400 text-sm">
              <strong class="font-semibold text-gray-900 dark:text-white">
                Cliente:
              </strong>
              {{pedido.cliente.tercero?.nombre1 || ''}} {{pedido.cliente.tercero?.apellido1  || ''}}
              {{pedido.cliente.tercero?.razonSocial1  || ''}} 
              ({{ pedido.cliente.nombreComercial }}) -
              {{ pedido.cliente.direccion1 }}
            </p>
            <p class="mb-0 text-gray-500 dark:text-gray-400 text-sm">
              <strong class="font-semibold text-gray-900 dark:text-white">
                Vendedor:
              </strong>
              {{ pedido.vendedor.nombre }}
            </p>
      
            <p class="mb-0 text-gray-500 dark:text-gray-400 text-sm">
              <strong class="font-semibold text-gray-900 dark:text-white">
                Fecha Hora:
              </strong>
              {{ pedido.fecha | date:'yyyy-MMM-dd hh:mm' }}
            </p>
          </div>
    } @else {
      <span class="text-gray-500 dark:text-gray-200">Posicionamiento de vendedores</span>
    }

    <app-map-view [pedido]="this.pedido" class="pt-4"></app-map-view>
</div>
