<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">

    <div class="p-4 md:p-5">
        <h1 class="pb-4 font-bold text-xl dark:text-white"><a [routerLink]="['/dashboard/accounts-receivable']"
                routerLinkActive="router-link-active" class="cursor-pointer underline">Cuentas por Cobrar</a> - Módulo
            de
            Pagos</h1>

        <!-- Para activar el uso de la signal -->
        <span class="hidden">{{isLoading()}}</span>

        <form class="space-y-4" action="#">
            <div class="flex items-center">

                <button data-tooltip-target="tooltip-bottom" data-tooltip-placement="bottom" type="button"
                    [routerLink]="['/dashboard/new-customer-payment']"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 12h14m-7 7V5" />
                    </svg>

                </button>
                <div id="tooltip-bottom" role="tooltip"
                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Registrar Pago
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>

                <button data-tooltip-target="tooltip-download" data-tooltip-placement="bottom" type="button"
                    (click)="listDocumentDownload()"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-6 h-6 text-white-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4" />
                    </svg>

                </button>
                <div id="tooltip-download" role="tooltip"
                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Descargar listado de comprobantes
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>

                <button data-tooltip-target="tooltip-bottom2" data-tooltip-placement="bottom" type="button"
                    (click)="listDetailDocumentDownload()"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-6 h-6 text-white-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4" />
                    </svg>

                </button>

                <div id="tooltip-bottom2" role="tooltip"
                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Descargar listado detallado de comprobantes
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>

                <span class="mx-2 text-gray-500">Desde</span>
                <div class="relative">
                    <input name="dateIni" type="date" [(ngModel)]="dateFrom" [max]="maxDate | date:'yyyy-MM-dd'"
                        class="mt-1 w-36 pt-0 peer block min-h-[auto] rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                        placeholder="Select date start">
                </div>
                <span class="mx-2 text-gray-500">hasta</span>
                <div class="relative">

                    <input name="dateTo" type="date" [min]="dateFrom" [max]="maxDate | date:'yyyy-MM-dd'"
                        [(ngModel)]="dateTo"
                        class="mt-1 w-36 pt-0 peer block min-h-[auto] rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                        placeholder="Select date end">
                </div>

                <div class="flex pl-2">
                    <div class="flex items-center h-5">
                        <input [(ngModel)]="anuladas" [ngModelOptions]="{standalone: true}" ngModel id="helper-checkbox"
                            aria-describedby="helper-checkbox-text" type="checkbox" value=""
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    </div>
                    <div class=" ms-2 text-sm">
                        <label for="helper-checkbox" class="font-medium text-gray-900 dark:text-gray-300">Incluir
                            Anuladas</label>
                    </div>
                </div>

                <!--  -->


                <!-- <button data-tooltip-target="tooltip-bottom2" data-tooltip-placement="bottom" type="button"
                (click)="listClientDownload()"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-6 h-6 text-white-800 dark:text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4" />
                </svg>

            </button>

            <div id="tooltip-bottom2" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Descargar listado de clientes
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div> -->

            </div>

            <label for="default-search"
                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Buscar</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>

                <input type="search" id="default-search" [(ngModel)]="term" name="default-search"
                    class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Buscar Identificació, Nombre, Documento,  Recibo..." required>

                <button type="submit" (click)="loadData()"
                    class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Buscar</button>

            </div>


        </form>
        <div class="relative">

            <div class="mt-4 min-h-[410px] max-h-52  overflow-y-auto pt-2 relative overflow-x-auto shadow-md sm:rounded-lg"
                *blockUI="'load-data'">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-blue-700 dark:text-gray-200">

                        <tr>


                            <th scope="col" class="px-6 py-1">
                                Identificacion
                            </th>
                            <th scope="col" class="px-6 py-2">
                                Nombre
                            </th>
                            <!-- <th scope="col" class="px-6 py-2">
                            Tipo Dcto
                        </th> -->
                            <th scope="col" class="px-6 py-2">
                                No. Dcto
                            </th>
                            <th scope="col" class="px-6 py-2">
                                No. Recibo
                            </th>
                            <th scope="col" class="px-6 py-2">
                                Fecha
                            </th>
                            <th scope="col" class="px-6 py-2 text-right">
                                Valor
                            </th>
                            <th scope="col" class="px-6 py-2">

                            </th>
                        </tr>
                    </thead>

                    <tbody class="relative">
                        @for (customerPayment of customerPayments(); track customerPayment.pagocli_id) {
                        <tr class=" border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                            [ngClass]="{
                        'bg-red-200 hover:bg-red-100': customerPayment.anulado === 1
                      }">
                            <td class="px-6 py-1">
                                {{customerPayment.tipo_doc}} {{customerPayment.identificacion}}
                            </td>
                            <td class="px-6 py-2 truncate" style="max-width: 300px;">
                                {{customerPayment.nombre_comercial}}
                            </td>
                            <td class="px-6 py-2">
                                {{customerPayment.dcto}}
                            </td>
                            <td class="px-6 py-2">
                                {{customerPayment.recibo}}
                            </td>
                            <td class="px-6 py-2">
                                {{customerPayment.fecha | date:'dd MMM yyyy'}}
                            </td>
                            <td class="px-6 py-2 text-right">
                                $ {{customerPayment.valor | number}}
                            </td>


                            <td class="px-6 py-2">
                                @if ( customerPayment.anulado === 0 ) {
                                <button title="Anular Comprobante" (click)="cancelPayment(customerPayment.pagocli_id)"
                                    type="button">
                                    <svg class="text-red-500 cursor-pointer icon icon-tabler icon-tabler-circle-minus"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                        <path d="M9 12l6 0" />
                                    </svg>

                                </button>
                                }
                                <button title="Imprimir Comprobante"
                                    (click)="printPayment(customerPayment.pagocli_id, customerPayment.dcto)"
                                    class="pl-2" type="button">
                                    <svg class="text-blue-500 cursor-pointer icon icon-tabler icon-tabler-printer"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
                                        <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
                                        <path
                                            d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z" />
                                    </svg>
                                </button>
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div
                class="flex items-center justify-between p-2 md:p-2 border-t border-gray-200 rounded-b dark:border-gray-600">

                <!-- Help text -->
                <span class="text-sm text-gray-700 dark:text-gray-400">
                    Página <span class="font-semibold text-gray-900 dark:text-white">{{searchParam.pagination!.pageIndex
                        +
                        1}}</span> de <span class="font-semibold text-gray-900 dark:text-white">
                        {{searchParam.pagination?.pages}}</span> de <span
                        class="font-semibold text-gray-900 dark:text-white">
                        {{searchParam.pagination?.length}}</span> Registros
                </span>
                <!-- Buttons -->
                <div class="inline-flex mt-0 xs:mt-0">
                    <button (click)="previousPage()" [disabled]="searchParam.pagination?.pageIndex === 0"
                        class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        [ngStyle]="{'opacity': searchParam.pagination?.pageIndex === 0 ? 0.5 : 1}">

                        Anterior
                    </button>
                    <button (click)="nextPage()"
                        [disabled]="searchParam.pagination!.pageIndex + 1 === searchParam.pagination?.pages"
                        class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        [ngStyle]="{'opacity': searchParam.pagination!.pageIndex + 1 === searchParam.pagination?.pages ? 0.5 : 1}">
                        Siguiente
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>