@if (!pedido) {
    <div class="flex flex-row">

        <div class="relative p-4">
            <input name="dateTo" type="date" [max]="maxDate | date:'yyyy-MM-dd'" [(ngModel)]="dateTo"
            (ngModelChange)="getLocalizaciones()"
                class="mt-1 w-36 pt-0 peer block min-h-[auto] rounded-lg border border-blue-300 bg-blue-50 px-3 py-2 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-blue-500 focus:ring focus:ring-blue-200 dark:border-blue-700 dark:bg-gray-700 dark:text-white dark:focus:border-blue-500"
                placeholder="Select date end">
        </div>
        @if (vendedores().length>0) {
         ∫
            <div class="relative p-4">
                <select name="vendedores"
                [(ngModel)]="selectedVendedor"
                (ngModelChange)="filterVendedores()"
                    class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                
                    @for (vendedor of vendedores() ; track vendedor) {
            
                    <option [value]="vendedor">
                        {{vendedor}}</option>
            
                    }
            
                </select>
    
            </div>
        }
    </div>
}

<google-map height="700px" width="1240px" [center]="center" [zoom]="zoom">

    
    @if (!pedido) {
        @for (ubicacion of ubicaciones(); track ubicacion) {
        <map-marker #marker="mapMarker" [position]="{lat: ubicacion.latitud, lng:ubicacion.longitud}"
            [options]="markerOptions" (mapClick)="ubicacionInfo(marker, ubicacion)">
        </map-marker>
        }
        <map-info-window>
            Vendedor: {{ubicacion()?.user_nombre}}<br>
            Hora: {{ubicacion()?.hora}}
        </map-info-window>
    }@else {
        @for (info of positionsInfo(); track info) {
            <map-marker #marker="mapMarker" [position]="info.position" [options]="markerOptions"
                (mapClick)="positionInfo(marker, info)">
            </map-marker>
            } 
        <map-info-window>{{userInfo().nombre}}</map-info-window>
    }

</google-map>