

<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 dark:text-white p-4 md:p-6">
    <h1 class="pb-4 font-bold text-xl text-blue-600 dark:text-white">Documentos</h1>
    <div id="mega-menu-full-dropdown"
        class="mt-1 bg-blue-50 border-blue-200 shadow-sm border-y dark:bg-blue-900 dark:border-blue-700">
        <div
            class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 dark:text-white sm:grid-cols-2 md:grid-cols-3 md:px-6">
            <ul aria-labelledby="mega-menu-full-dropdown-button">
                <li>
                    <a [routerLink]="['/dashboard/documents-query']" routerLinkActive="router-link-active"
                        class="block p-3 rounded-lg hover:bg-blue-100 dark:hover:bg-blue-800">
                        <div class="font-semibold text-blue-700 dark:text-blue-400">Consultar</div>
                        <span class="text-sm text-gray-500 dark:text-blue-200">Consultar documentos electrónicos</span>
                    </a>
                </li>
            </ul>
            <ul aria-labelledby="mega-menu-full-dropdown-button">
                <li>
                    <a [routerLink]="['/dashboard/emit-document']" routerLinkActive="router-link-active"
                        class="block p-3 rounded-lg hover:bg-blue-100 dark:hover:bg-blue-800">
                        <div class="font-semibold text-blue-700 dark:text-blue-400">Emitir</div>
                        <span class="text-sm text-gray-500 dark:text-blue-200">Emisión de documentos electrónicos</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>