<div class="mt-4 flex bg-green-100 h-14 items-center rounded border border-solid border-gray-300 p-4">
    <div class="inline-flex rounded-md shadow-sm" role="group">
        <button type="button" (click)="addItem()"
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-2 focus:ring-green-700 focus:text-green-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-green-500 dark:focus:text-white">

            Agregar item
        </button>
        <button type="button" [disabled]="clienteId === '0'" (click)="openDialog(clienteId)"
            [ngClass]="{'bg-gray-300 cursor-not-allowed':  clienteId === '0'}"
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-2 focus:ring-green-700 focus:text-green-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-green-500 dark:focus:text-white">


            Seleccionar Descuentos
        </button>

    </div>


    <!-- @if (clienteId !== '0') {
    <div class="flex items-center">
        <button (click)="openDialog(clienteId)" type="button"
            class=" mt-2 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-500 dark:focus:ring-green-800">
            Seleccionar Descuentos
        </button>
        <button (click)="addItem()" type="button"
            class=" mt-2 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
            Agregar item
        </button>

    </div>

    } -->
</div>
<div class="min-h-[208px] max-h-52  overflow-y-auto pt-2 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th class="px-2 w-1/12">
                    Código
                </th>
                <th class="px-2 w-4/12">
                    Item
                </th>
                <th class="px-1 w-1/12">
                    Cantidad
                </th>
                <th class="px-1 w-2/12">
                    Vr. Unitario/Und
                </th>
                <th class="px-1 w-2/12">
                    Cargo / Descuento
                </th>
                <!-- <th class="px-1 w-2/12">
                    Impuestos
                </th> -->
                <th class="px-1 w-2/12">
                    Total
                </th>
                <th class="px-1 w-1/12">
                    Action
                </th>
            </tr>
        </thead>



        <tbody [formGroup]="form">

            <!-- @for (item of items.controls; track $index) { -->
            <!-- <ng-container formArrayName="items"> -->

            <ng-container formArrayName="items" *ngFor="let item of items.controls; let $index = index">

                <tr [formGroupName]="$index">


                    <th class="px-1">
                        <input formControlName="standardItemIdentification" type="text"
                            class=" rounded-md bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block px-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            [ngClass]="{
                        'rounded bg-red-50 border border-red-500 text-red-900 placeholder-red-700   focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500': isValidField(item,'standardItemIdentification')
                    }">
                        @if (isValidField(item, 'standardItemIdentification')) {
                        <p class="text-xs text-red-600 dark:text-red-500">{{getFieldError(item,
                            'standardItemIdentification')}}</p>
                        }
                    </th>
                    <th class="px-1">
                        <input formControlName="description" type="text"
                            class=" rounded-md bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block px-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            [ngClass]="{
                        'rounded bg-red-50 border border-red-500 text-red-900 placeholder-red-700   focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500': isValidField(item,'description')
                    }">
                        @if (isValidField(item, 'description')) {
                        <p class="text-xs text-red-600 dark:text-red-500">{{getFieldError(item, 'description')}}</p>
                        }
                    </th>
                    <td class="px-1">
                        <input formControlName="quantity" type="text" mask="999999" (blur)="calculateTotal($index)"
                            class="text-right rounded-md bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block px-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            [ngClass]="{
                        'rounded bg-red-50 border border-red-500 text-red-900 placeholder-red-700   focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500': isValidField(item,'quantity')
                    }">
                        @if (isValidField(item, 'quantity')) {
                        <p class="text-xs text-red-600 dark:text-red-500">{{getFieldError(item, 'quantity')}}</p>
                        }
                    </td>
                    <td class="px-1">
                        <div class="relative flex w-full">
                            <input formControlName="unitPrice" type="text" prefix="$ " mask="separator.2"
                                (blur)="calculateTotal($index)" thousandSeparator=","
                                class="text-right rounded-md bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block px-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                [ngClass]="{
                            'rounded bg-red-50 border border-red-500 text-red-900 placeholder-red-700   focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500': isValidField(item,'unitPrice')
                        }">
                            <input formControlName="unitCode" type="text" readonly
                                title="{{item.value.descriptionUnitCode? item.value.descriptionUnitCode: ''}}"
                                (click)="loadUnitCode($index)"
                                class="pt-3 mt-0 cursor-pointer top-0 end-0 p-2.5 w-14 text-sm font-medium h-full text-white bg-green-700 rounded-e-lg border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                                [ngClass]="{
                            'rounded bg-red-50 border border-red-500 text-red-900 placeholder-red-700   focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500': isValidField(item,'unitPrice')
                        }">

                            @if (isValidField(item, 'unitPrice')) {
                            <p class="text-xs text-red-600 dark:text-red-500">{{getFieldError(item, 'unitPrice')}}</p>
                            }

                        </div>


                    </td>
                    <td class="px1">
                        <div class="relative flex w-full">
                            <input formControlName="totalAllowanceChargue" type="text" prefix="$ "
                                readonly
                                mask="separator.2" thousandSeparator=","
                                class="text-right rounded-md bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block px-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                [ngClass]="{
                                'rounded bg-red-50 border border-red-500 text-red-900 placeholder-red-700   focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500': isValidField(item,'totalAllowanceChargue')
                                }">
                            <button type="button"
                            (click)="loadAllowanceChargues($index)"
                            title="Detalles"
                                class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                <svg class="w-6 h-6 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                                    <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                                  </svg>
                                
                            </button>
                                <!-- <input formControlName="unitCode" type="text" readonly
                                title="{{item.value.descriptionUnitCode? item.value.descriptionUnitCode: ''}}"
                                (click)="loadUnitCode($index)"
                                class="pt-3 mt-0 cursor-pointer top-0 end-0 p-2.5 w-14 text-sm font-medium h-full text-white bg-green-700 rounded-e-lg border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                                [ngClass]="{
                            'rounded bg-red-50 border border-red-500 text-red-900 placeholder-red-700   focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500': isValidField(item,'unitPrice')
                                }"> -->

                                @if (isValidField(item, 'totalAllowanceChargue')) {
                                <p class="text-xs text-red-600 dark:text-red-500">{{getFieldError(item,
                                    'totalAllowanceChargue')}}</p>
                                }

                        </div>


                    </td>
                    <td class="px-1">
                        <input formControlName="total" (blur)="calculateFromTotal($index)" type="text" prefix="$ "
                            mask="separator.2" thousandSeparator=","
                            class="text-right rounded-md bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block px-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            [ngClass]="{
                        'rounded bg-red-50 border border-red-500 text-red-900 placeholder-red-700   focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500': isValidField(item,'total')
                    }">
                        @if (isValidField(item, 'total')) {
                        <p class="text-xs text-red-600 dark:text-red-500">{{getFieldError(item, 'total')}}</p>
                        }
                    </td>
                    <td class="px-1">
                        <button (click)="removeItem($index)" type="button"
                            class="mt-2 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">X</button>
                    </td>

                </tr>
                <!-- {{ totals() | json }} -->
            </ng-container>

            <!-- } -->
        </tbody>

    </table>

</div>